<div class="wrapper">
  <div class="footer">

    <div class="left-footer">  <a href="/" class="blogo"></a>  <span class="bphone">8-800-333-222</span></div>

    <div class="follow-buttons">
      <a href="/"><%= image_tag 'store/fb/4.png' %></a>
      <a href="/"><%= image_tag 'store/fb/2.png' %></a>
      <a href="/"><%= image_tag 'store/fb/6.png' %></a>
      <a href="/"><%= image_tag 'store/fb/1.png' %></a>
      <a href="/"><%= image_tag 'store/fb/5.png' %></a>
      <a href="/"><%= image_tag 'store/fb/3.png' %></a>
    </div>

    <div class="right-footer">
      <a href="/">Арендодателям</a> | <a href="/">Партнерская программа</a> | <a href="/">Поставщикам</a> | <a href="/">Рекламным агентам</a> | <a href="/">Франчайзинг</a>
    </div>
    
  </div>
</div>
